  @font-face {
    font-family: 'Barriecito';
    src: url(../font/Barriecito-Regular.woff) format('woff');
    font-weight: 'regular';
  }
  @font-face {
    font-family: 'Migrena Grotesque Light';
    src: url(../font/Migrena_Grotesque-Light.woff) format('woff');
    font-weight: 'light';
  }
  @font-face {
    font-family: 'Migrena Grotesque Regular';
    src: url(../font/Migrena_Grotesque-Regular.woff) format('woff');
    font-weight: 'regular';
  }


html {
    font-size: 16px;
    font-family: 'Migrena Grotesque Regular';
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    a, a:link {
        text-decoration: none;
        color: black;
    }
    a:hover {
        border-bottom: 1px solid black;
        transition: transform 5ms linear;
    };
    background-color: #BEDACC;
};

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    .flex-item-offer1, .flex-item-offer2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 2.2rem;
        font-family: 'Migrena Grotesque Light';
        font-size: 1rem;
        font-weight: 300;
        background-color: #CBF3FF;
    }
    .offer1_bolt, .offer2_bolt {
        font-weight: 600;
    }
}

.flex-item-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-family: 'Migrena Grotesque Light';
    font-size: 1.2rem;
    background-color: #E8E8E8;
    border-bottom: 1px solid #000000;
    .header-logo {
        margin-left: 3rem;
        font-family: 'Barriecito';
        font-size: 1.4rem;
    }
    .header-menu-ul {
        flex-grow: 0.2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .ul-item {
            list-style-type: none;
        }
    }
    .header-login {
        margin-right: 3rem;
        .cart {
            margin-left: 1rem;
        }
        .cart::after {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background-image: url('../img/zero-ico.svg');
            background-size: contain;
            position: absolute;
            margin-left: 2px;
            margin-top: 5px;
        }
    }
}

.flex-item-main {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    .main-left {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        .left-item-text1 {
            font-family: 'Barriecito';
            font-size: 3rem;
            text-align: center;
        }
        .left-item-text2 {
            font-family: 'Migrena Grotesque Regular';
            font-size: 1.5rem;
            width: 90%;
            text-align: center;
        }
        .main-left-btn {
            width: 174px;
            height: 50px;
            background: #E8E8E8;
            box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
    }
    .main-right {
        width: 50%;
        .img-div {
            background: url('../img/unsplash-resize.jpg') center no-repeat;
            background-size: cover;
            background-color: royalblue;
            min-height: 100%;
        }
    }
}

.flex-item-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    height: 4rem;
    background-color: #E8E8E8;
    border-top: 1px solid #000000;
    .footer-social__ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        a:hover {
            border-bottom: none;
        };
        .social_item_twitter {
            display: inline-block;
            width: 26px;
            height: 23px;
            background-image: url('../img/twitter.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .social_item_instagram {
            display: inline-block;
            width: 26px;
            height: 23px;
            background-image: url('../img/insta.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 1rem;
        }
        .social_item_linkedin {
            display: inline-block;
            width: 26px;
            height: 23px;
            background-image: url('../img/In.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 1rem;
        }
    }
    .footer-info {

    }
    .footer-icon {
        .leaf   {
        display: inline-block;
        width: 26px;
        height: 23px;
        background-image: url('../img/Leaf.svg');
        background-size: contain;
        background-repeat: no-repeat;
        }
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 600px) {
   .flex-item-header {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-around;
       align-items: center;
       height: auto;
       .header-menu-ul {
           display: flex;
           flex-flow: column nowrap;
           justify-content: space-around;
           align-items: center;
       }
   }
   .flex-item-main {
       
    .main-left {
        width: 100%;
        .mobile_delete1 {
            display: none;
        }
    }
    .main-right {
           display: none;
       }
   }
   .flex-item-footer {
       display: flex;
       flex-flow: column nowrap;
       align-items: center;
       justify-content: space-around;
       height: auto;
       .footer-social__ul {
           display: flex;
           flex-flow: row nowrap;
           justify-content: center;
           padding-inline-start: 0px;

       }
   }
}

@media screen and (max-width: 430px) {
   .flex-item-header {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: center;
       height: auto;
       .header-menu-ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding-inline-start: 0px;
    }
       .header-login {
           display: flex;
           flex-flow: column nowrap;
           align-items: center;
           .cart {
            margin-left: -10px;
           }
       }
    }
}