  @font-face {
    font-family: 'Barriecito';
    src: url(/font/Barriecito-Regular.woff) format('woff');
    font-weight: 'regular';
  }
  @font-face {
    font-family: 'Migrena Grotesque Light';
    src: url(/font/Migrena_Grotesque-Light.woff) format('woff');
    font-weight: 'light';
  }
  @font-face {
    font-family: 'Migrena Grotesque Regular';
    src: url(/font/Migrena_Grotesque-Regular.woff) format('woff');
    font-weight: 'regular';
  }


html {
    font-size: 16px;
    font-family: 'Migrena Grotesque Regular';
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    a, a:link {
        text-decoration: none;
        color: black;
    }
    a:hover {
        border-bottom: 1px solid black;
        transition: transform 5ms linear;
    };
};


div {
    border: 1px solid darkcyan;}


.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    .flex-item-offer1, .flex-item-offer2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 2.4rem;
        font-family: 'Migrena Grotesque Light';
        font-size: 1rem;
        font-weight: 300;
    }
    .offer1_bolt, .offer2_bolt {
        font-weight: 600;
    }
}

.flex-item-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: 'Migrena Grotesque Light';
    font-size: 1.2rem;
    .header-logo {
        margin-left: 3rem;
        font-family: 'Barriecito';
        font-size: 1.4rem;
    }
    .header-menu-ul {
        flex-grow: 0.2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .ul-item {
            list-style-type: none;
        }
    }
    .header-login {
        margin-right: 3rem;
        .cart {
            margin-left: 1rem;
        }
        .cart::after {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background-image: url('../img/zero-ico.svg');
            background-size: contain;
            position: absolute;
            margin-left: 2px;
            margin-top: 5px;
        }
    }
}

.flex-item-main {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    
    .main-left {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        
    }
    .main-right {
        width: 50%;
        .img-div {
            background: url(/unsplash-2.jpg) center no-repeat;
            background-size: cover;
            background-color: royalblue;
            min-height: 100%;
        }
    }
}

.flex-item-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 4.6rem;
}